<section class="register">
    <section class="background view trama right">
        <h1 class="title-with-stroke">
            <span></span>
            <span>Registro</span>
        </h1>
    </section>
    <section class="payment trama">
        <div class="cont">
            <ul class="nav nav-tabs d-none d-lg-flex" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data"
                        aria-selected="true"></a>
                    <p>Datos de delegado</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="assistants-tab" data-toggle="tab" href="#assistants" role="tab" aria-controls="assistants"
                        aria-selected="false"></a>
                    <p>Asistentes</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info"
                        aria-selected="false"></a>
                    <p>Información adicional</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="workshops-tab" data-toggle="tab" href="#workshops" role="tab" aria-controls="workshops"
                        aria-selected="false"></a>
                    <p>Workshops</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment"
                        aria-selected="false"></a>
                    <p>Pago</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="confirm-tab" data-toggle="tab" href="#confirm" role="tab" aria-controls="confirm"
                        aria-selected="false"></a>
                    <p>Confirmación</p>
                </li>
            </ul>
            <div class="tab-content container-fluid pt-5" id="myTabContent">
                <%- include('./tabs/data-tab.ejs'); -%>
                <%- include('./tabs/assistants-tab.ejs'); -%>
                <%- include('./tabs/confirm-tab.ejs'); -%>
                <%- include('./tabs/workshops-tab.ejs'); -%>
                <%- include('./tabs/info-tab.ejs'); -%>
                <%- include('./tabs/payment-tab.ejs'); -%>
                <%- include('./tabs/action-buttons.ejs'); -%>
            </div>
        </div>
    </section>
</section>
<script src="js/register.js"></script>