<section class="schedule">
    <section class="background view trama right">
        <h1 class="title-with-stroke">
            <span>Programa</span>
        </h1>
    </section>
    <section class="diary trama">
        <div class="container">
            <!--<h2 class="gold-title mb-0">Agenda</h2>-->
            <h3 class="twilight-blue-subtitle">
                Sigue el programa. <br>
            </h3>
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                <% schedule.forEach((item, i) => { %>
                    <li class="nav-item m-4">
                        <a class="btn light" id="<%= item.name %>-tab" data-toggle="tab" href="#<%= item.name %>" role="tab"
                            aria-controls="<%= item.name %>" aria-selected="false">
                            <%= item.name %>
                        </a>
                    </li>
                <% }) %>
            </ul>
            <div class="days my-5 tab-content" id="myTabContent">
                <% schedule.forEach((item, i) => { %>
                    <div class="tab-pane fade <%=  i === 0 ? 'show active' : '' %>" id="<%= item.name %>" role="tabpanel" aria-labelledby="<%= item.name %>-tab">
                        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                            <% item.data.forEach(data => { %>
                                <div class="day">
                                    <div class="text-center">
                                        <p class="fs-22 fc-twilight-blue text-center"><%= data.description %></p>
                                        <p class="fs-16 fc-twilight-blue text-center"><%= data.date %></p>
                                    </div>
                                    <% data.sessions.forEach(session => { %>
                                        <div class="time <%= data.class %>">
                                            <p class="fs-20 fc-medium fc-twilight-blue"><%= session.name %></p>
                                            <p class="fs-15 fc-medium fc-twilight-blue"><%= session.room %></p>
                                            <p class="fs-15 fc-medium fc-twilight-blue"><%= session.hour %></p>
                                        </div>
                                        <div class="description">
                                            <p class="fs-15 fc-medium"><%= session.description %></p>
                                        </div>
                                    <% }) %>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>
</section>