<section class="schedule">
    <section class="background view trama right">
        <h1 class="title-with-stroke">
            <span>Programa</span>
        </h1>
    </section>
    <section class="diary trama">
        <div class="container">
            <!--<h2 class="gold-title mb-0">Agenda</h2>-->
            <h3 class="twilight-blue-subtitle">
                Sigue el programa. <br>
                
            </h3>
            <div class="days my-5">
                <% schedule.forEach((day, i) => { %>
                    <div class="day">
                        <div class="text-center">
                            <p class="fs-22 fc-twilight-blue text-center"><%= day.day %></p>
                            <p class="fs-16 fc-twilight-blue text-center"><%= day.date %></p>
                        </div>
                        <% day.sessions.forEach(session => { %>
                            <div class="time <%= day.class %>">
                                <p class="fs-20 fc-medium fc-twilight-blue"><%= session.name %></p>
                                <p class="fs-15 fc-medium fc-twilight-blue"><%= session.room %></p>
                                <p class="fs-15 fc-medium fc-twilight-blue"><%= session.hour %></p>
                            </div>
                            <div class="description">
                                <p class="fs-15 fc-medium"><%= session.description %></p>
                            </div>
                        <% }) %>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>
</section>