<section class="home">
    <section class="main background">
        <p class="ff-axia fs-27">
            6º Foro Latinoamericano en
        </p>
        <div class="main-text">
            <p class="ff-axia-bold fs-39">
                Calidad y Seguridad <br>
                en la Salud
            </p>
            <p class="ff-axia-bold fs-50">
                <span>28</span>
                <span class="mx-4">29</span>
                <span>30</span>
            </p>
            <p class="ff-axia fs-40">
                Septiembre <span class="ff-axia=bold">2020</span>
            </p>
            <p class="ff-axia fs-35">Westin Lima Hotel</p>
        </div>
        <div class="my-4">
            <a href="#" class="btn light">
                Inscripción
                <i class="flaticon-arrow-point-to-right"></i>
            </a>
        </div>
    </section>
    <section class="countdown">
        <ul class="timer">
            <li>
                <p>Days</p>
                <p>50</p>
            </li>
            <li>
                <p>Hours</p>
                <p>150</p>
            </li>
            <li>
                <p>Minutes</p>
                <p>1150</p>
            </li>
        </ul>
    </section>
    <section class="about container">
        <div class="row">
            <div class="col-12 col-md-6 m-auto">
                <h2 class="gold-title mb-0">Sobre la conferencia</h2>
                <h3 class="twilight-blue-subtitle mt-4 mb-5">
                    Bienvenido al  
                    6º Foro Latinoamericano 
                    en Calidad y Seguridad 
                    en la Salud
                </h3>
                <p class="fs-15 fc-grey">
                    Business cards represent not only your business, but it also tells people your professionalism in
                    the industry. In the business world today, the usage of business cards is far beyond just informing
                    people who you are, it serves as one
                </p>
                <a href="#" class="btn dark mt-5 mb-5 mb-md-0">
                    Contactar
                    <i class="flaticon-arrow-point-to-right"></i>
                </a>
            </div>
            <div class="col-12 col-md-6 text-center">
                <div class="video-container">
                    <div id="play" class="play">
                        <div class="icon"></div>
                    </div>
                    <video id="video" class="video" cotrols poster="img/backgrounds/video-poster.jpg">
                        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg" />
                        Tu navegador no admite el elemento <code>video</code>.
                    </video>
                </div>
            </div>
        </div>
    </section>
    <section class="schedule container">
        <h2 class="twilight-blue-title mb-0">Programa</h2>
        <div class="days my-4">
            <% schedule.forEach((day, i) => { %>
            <div class="day">
                <div class="name" data-toggle="collapse" data-target="#<%= day.day %>" aria-expanded="true" aria-controls="<%= day.day %>">
                    <p class="fs-22 fc-twilight-blue text-center"><%= day.day %></p>
                </div>
                <div class="collapse <%= i === 0 ? 'show' : '' %>" id="<%= day.day %>"> 
                    <% day.sessions.forEach(session => { %>
                        <div class="time <%= day.class %>">
                            <p class="fs-20 fc-medium fc-twilight-blue"><%= session.name %></p>
                            <p class="fs-15 fc-medium fc-twilight-blue"><%= session.hour %></p>
                        </div>
                        <div class="description">
                            <p class="fs-15 fc-medium"><%= session.description %></p>
                        </div>
                    <% }) %>
                </div>
            </div>
            <% }) %>
        </div>
        <div class="text-center">
            <a href="/schedule" class="btn dark">
                Ver todo el programa
                <i class="flaticon-arrow-point-to-right"></i>
            </a>
        </div>
    </section>
    <section class="expositors">
        <div class="container py-0">
            <h2 class="twilight-blue-title pb-4 mb-0">Principales Expositores</h2>
        </div>
        <div class="trama mb-5">
            <div id="carouselExpositors" class="carousel slide" data-ride="carousel" pause="hover">
                <div class="carousel-inner">
                    <% expositors.forEach((item, i) => { %>
                        <% item.forEach((expositor, j) => { %>
                            <div class="carousel-item <%= i === 0 && j === 0 ? 'active' : '' %>"">
                                <div class="slider">
                                    <div>
                                        <p class="fs-34 fw-bold fc-white mt-2"><%= expositor.firstName %></p>
                                        <p class="fs-34 fw-bold fc-white mb-2"><%= expositor.lastName %></p>
                                        <p class="gold-title mb-0"><%= expositor.position %></p>
                                        <p class="fs-12 fw-medium fc-white my-4">
                                            Business cards represent not only your business, but it also tells people your professionalism in the
                                            industry. In the business world today, the usage of business cards is far beyond just informing people
                                        </p>
                                        <a href="/expositors" class="btn light mt-3 mx-auto">
                                            Ver todos los expositores
                                            <i class="flaticon-arrow-point-to-right"></i>
                                        </a>
                                    </div>
                                    <div class="text-center">
                                        <img 
                                            class="pl-4 my-4" 
                                            src="img/backgrounds/expositors-home.jpg"
                                            alt="<%= expositor.firstName %> <%= expositor.lastName %>" 
                                            width="100%" 
                                            height="300px">
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    <% }) %>
                </div>
                <a class="carousel-control-prev" href="#carouselExpositors" role="button" data-slide="prev">
                    <i class="flaticon-arrow-point-to-right rotate"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExpositors" role="button" data-slide="next">
                    <i class="flaticon-arrow-point-to-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
            </div>
        </div>
    </section>
    <section class="know-us background trama">
        <div class="title-with-stroke text-center">
            <p>No te pierdas Lima,</p>
            <p>conócenos más</p>
        </div>
        <a href="/stay" class="btn light mx-auto mt-4 mb-5 mb-md-0">
            Ver más
            <i class="flaticon-arrow-point-to-right"></i>
        </a>
    </section>
    <section class="sponsors container">
        <h2 class="twilight-blue-title pb-4 mb-0">Auspiciadores</h2>
        <% sponsors.forEach((item, i) => { %>
        <div class="text-center">
            <p class="fs-30 fw-semi-bold fc-twilight-blue my-5"><%= sponsorTypes[i] %></p>
            <div class="item">
                <% item.forEach(sponsor => { %>
                <img class="sponsor" src="<%= sponsor.src %>" alt="<%= sponsor.name %>">
                <% }) %>
            </div>
            <div class="divider my-4"></div>
        </div>
        <% }) %>
    </section>
</section>