<section class="home">
    <section class="main background">
        <h1 class="title-with-stroke">
            <span class="d-block">6th Latin American Forum on</span>
            <span class="d-block">Quality and Safety in Healthcare</span>
        </h1>
        <p class="subtitle">28 29 30 September 2020 Westin Lima Hotel</p>
        <div class="my-4">
            <a href="#" class="link-button light">
                Obtener entradas
                <i class="flaticon-arrow-point-to-right"></i>
            </a>
        </div>
        <ul class="timer">
            <li>
                <p>Days</p>
                <p>50</p>
            </li>
            <li>
                <p>Hours</p>
                <p>150</p>
            </li>
            <li>
                <p>Minutes</p>
                <p>1150</p>
            </li>
            <li>
                <p>Seconds</p>
                <p>21150</p>
            </li>
        </ul>
    </section>
    <section class="about container">
        <div class="row">
            <div class="col-12 col-md-6 m-auto">
                <h2 class="gold-title mb-0">About Conference</h2>
                <h3 class="twilight-blue-subtitle my-4">
                    Welcome to the 6th Latin American Forum on Quality and Safety in Healthcare
                </h3>
                <p class="fs-15 fc-grey">
                    Business cards represent not only your business, but it also tells people your professionalism in
                    the industry. In the business world today, the usage of business cards is far beyond just informing
                    people who you are, it serves as one
                </p>
                <a href="#" class="link-button dark mt-4">
                    Contactar
                    <i class="flaticon-arrow-point-to-right"></i>
                </a>
            </div>
            <div class="col-12 col-md-6 text-md-right">
                <div class="video-container my-5">
                    <video class="video" cotrols poster="img/backgrounds/video-poster.jpg">
                        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg" />
                        Tu navegador no admite el elemento <code>video</code>.
                    </video>
                </div>
            </div>
        </div>
    </section>
    <section class="schedule container">
        <h2 class="fs-54 fw-extra-bold fc-twilight-blue pb-4 mb-0">Schedule</h2>
        <div class="days mt-4">
            <% schedule.forEach((days, i) => { %>
                <div class="day">
                    <div class="text-center">
                        <p class="fs-22 fc-twilight-blue text-center">Day <%= i+1 %></p>
                    </div>
                    <% days.forEach(day => { %>
                        <div class="time <%= day.class %>">
                            <p class="fs-20 fc-medium fc-twilight-blue"><%= day.name %></p>
                            <p class="fs-15 fc-medium fc-twilight-blue"><%= day.hour %></p>
                        </div>
                        <div class="description">
                            <p class="fs-15 fc-medium"><%= day.description %></p>
                        </div>
                    <% }) %>
                </div>
            <% }) %>
        </div>
        <div class="text-center">
            <a href="#" class="link-button dark mt-5">
                Ver todo el programa
                <i class="flaticon-arrow-point-to-right"></i>
            </a>
        </div>
    </section>
    <section class="know-us background trama">
        <div class="title-with-stroke text-center">
            <p>No te pierdas Lima,</p>
            <p>conócenos más</p>
        </div>
        <a href="#" class="link-button light mt-5">
            Ver más
            <i class="flaticon-arrow-point-to-right"></i>
        </a>
    </section>
    <section class="sponsors container">
        <h2 class="fs-54 fw-extra-bold fc-twilight-blue pb-4 mb-0">Sponsors</h2>
        <% sponsors.forEach((item, i) => { %>
            <div class="text-center">
                <p class="fs-30 fw-semi-bold fc-twilight-blue my-5">Sponsor <%= i+1 %></p>
                <div class="item">
                    <% item.forEach(sponsor => { %>
                        <img class="sponsor" src="<%= sponsor.src %>" alt="<%= sponsor.name %>">
                    <% }) %>
                </div>
                <div class="divider my-4"></div>
            </div>
        <% }) %>
    </section>
</section>